[2020-08-17 18:11] bilby91 opened #1127 "Turn off performance stats on version 11"
Hello,

Today we updated to the new v11 version and we notices that our current code to disable the performance_stats no longer works. I couldn't figure out exactly what needs to change in order to get the previous behavior. Is that documented somewhere ?

Thanks in advance!

[2020-08-18 07:23] kyrylo commented on #1127
This is just a bug! Oops

[2020-08-18 09:09] kyrylo commented on #1127
Fixed by https://github.com/airbrake/airbrake-ruby/pull/618, thanks! I will release a new version of airbrake-ruby shortly.

[2020-08-18 09:09] #1127 closed

[2020-08-18 09:15] kyrylo commented on #1126
Is this related to airbrake v11 or was it also the case with airbrake v10?

[2020-08-18 10:14] kyrylo commented on #1126
Is there an easy way to reproduce this?

[2020-08-18 13:24] bilby91 commented on #1126
I tried reproducing it in an independent app and I couldn't. This helped me realize that I was not rewinding the body after being consumed in my rack application.

Thanks! I'm closing this one.

[2020-08-18 13:24] #1126 closed

[2020-08-18 13:25] bilby91 commented on #1127
Thanks! Looking forward on the new one so we can upgrade!

[2020-08-18 14:15] kyrylo commented on #1127
Already released :)

[2020-08-24 16:59] sarahstrong opened #1128 "Rejected Airbrake error bodies"
* Airbrake version: 10.0.5
* Ruby version: 2.6.0
* Framework name & version: Rails 6.0

#### Airbrake config

[code]

#### Description

We get occasional unparseable error sent to Airbrake. Today we got a new error that consistently produced an unparseable error.

*Airbrake parameters*

[code]

*Airbrake context*

[code]

The error itself is an ActionView:Template 500 error due to an unset variabl

[2020-09-22 07:37] kyrylo commented on #1128
Hi, sorry for the late reply. Can you email me your project id? kyrylo@airbrake.io
Alternatively, you can write to our support.

[2020-10-05 04:54] kyrylo commented on #1128
Thanks for the links! I checked your project and I cannot explain why you have those errors.

* Do you use any custom filters or third party code that works with Airbrake? It looks like the notifier sends invalid JSON but our official notifiers never send something like what you see
* I noticed that in your example there's a suspicious line: `\"line\":2:<-274,`. I don't understand what the `<-274`

[2020-10-06 19:15] skojin opened #1132 "when warden is present then try_current_user not work"
I have app with web login via devise and API with base controller from class ActionController::API, and own authorization via header

So Airbrake::Rack::User.extract https://github.com/airbrake/airbrake/blob/master/lib/airbrake/rack/user.rb#L14 exit before try_current_user, and errors in API don't have user info

[2020-10-07 09:42] kyrylo commented on #1132
I am not completely following the issue description but you could:

* delete the `warden` key from Rack env with help of an Airbrake filter (or any other way you prefer)
* add under the `warden` key something responds to the `#user` method and returns a user

[2020-10-07 15:32] skojin commented on #1132
Issue that project have code that check current_user method, but it not work if another gem is added

[2020-10-08 05:16] kyrylo commented on #1132
If none of the suggested solutions I pointed out above don't work for your app, you could try to write your own Airbrake filter that retrieves user information and stores it manually. You can access the request object from the notice stash:

https://github.com/airbrake/airbrake#appending-information-from-rack-requests

If you think that the issue is not specific only to your app, I would appreciat

[2020-10-08 05:39] skojin commented on #1132
no, thanks
I already make this, my own filter that works only on subset of controllers and uses current_user way

[2020-10-08 05:43] kyrylo commented on #1132
I'm not sure what else to suggest here. If you need this to be called and you know it'll get you the user info...

https://github.com/airbrake/airbrake/blob/6860375169f120e76cea6df15991d15fe1a30e62/lib/airbrake/rack/user.rb#L23

..then do `rack_env['warden'] = nil` from a filter.

[2020-10-12 05:17] #1132 closed

[2020-10-19 09:47] #1128 closed

[2020-10-26 21:14] silva96 opened #1134 "Error invoking airbrake deploy"
**Airbrake: HTTP error: SSL_connect SYSCALL returned=5 errno=0 state=unknown state

This breaks my deploy script!

[2020-10-27 03:21] kyrylo commented on #1134
Hi, is there more context? What version of airbrake, airbrake-ruby? How do you invoke it? Your config?

[2020-10-27 14:35] silva96 commented on #1134
It's working now

[2020-10-27 14:35] #1134 closed

[2020-10-31 13:49] atomical opened #1136 "Does this work for err.io and airbrake.io?"
We signed up on err.io but I'm having some issues with the credentials.

[2020-10-31 15:45] phumpal commented on #1136
@atomical can you please ping support@airbrake.io or visit the in-app support at https://airbrake.io/?

[2020-10-31 15:45] #1136 closed

[2020-11-23 20:28] edenisn opened #1138 "Get error in rails console after upgrade to version 11.0.1"
After upgrade gem 'airbrake' to version 11.0.1 I got error in console (periodically):

[code]
I understood that this error from AWS S3, but with an older version of airbrake we didn't receive such error.
I use Rails 5.0.2, ruby 2.6 (got this error in development and production modes).

[2020-11-23 20:31] scottsbaldwin commented on #1138
@kyrylo can you take a look at this please?

[2020-11-23 20:44] scottsbaldwin commented on #1138
@edenisn are you able to still see errors reported on your dashboard?

[2020-11-23 20:47] edenisn commented on #1138
@scottsbaldwin yes, still got those errors in rails console.

[2020-11-23 20:50] scottsbaldwin commented on #1138
Good. Based on the error you reported, I assumed you should still have errors reported. Can you send me your project ID so @kyrylo and I can take a further look on the backend?

[2020-11-23 20:52] edenisn commented on #1138
@scottsbaldwin my project id: 11371 . thanks!

[2020-11-23 21:04] scottsbaldwin commented on #1138
Can you double check that project ID @edenisn? It should be the value in `c.project_id` from your corresponding initializer (or from your project settings page in the Airbrake dashboard).

[code]

[2020-11-23 21:07] edenisn commented on #1138
@scottsbaldwin Yes. Everything is as you wrote above.

[2020-11-23 21:10] edenisn commented on #1138
@scottsbaldwin but look into airbrake UI dashboard I see that we have this url: projects/45413

[2020-11-23 21:13] scottsbaldwin commented on #1138
Ok, and if you load the settings link from the top navigation menu at that URL, you should see a Project ID and Project API Key at the top right corner of the page. That project ID (which should match the number in your URL) is what you should have in your configuration.

[code]

The `11371` ID doesn't seem correct.

[2020-11-23 21:26] edenisn commented on #1138
Ahhh. yes. You are right! Fixed it.

[2020-11-23 21:27] scottsbaldwin commented on #1138
Great! Watch your console and see if you still get that error.

[2020-11-23 21:55] edenisn commented on #1138
@scottsbaldwin Yeahh! Changed credentials data with project id and right now didn't get error from S3 in console. Thanks!

[2020-11-23 21:57] scottsbaldwin commented on #1138
@edenisn are we ok to close out this issue then?

[2020-11-23 22:00] edenisn commented on #1138
@scottsbaldwin I thinks yes.

[2020-11-23 22:04] scottsbaldwin commented on #1138
Thanks @edenisn!

[2020-11-23 22:04] #1138 closed

[2020-12-23 07:32] maldad opened #1141 ""stack level too deep" error after updating from 9.3.0 to 11.0.1"
Hi there, we have a problem after upgrading the Airbrake gem, it seems like it has a conflict with Capybara config.

This only happens when we run capybara tests, our controller or helper tests are good, here is the Gemlock changelog:

Before the error:
[code]

After:
[code]

Looking at the logs I've found the next pattern:

[code]

The problem seems to lie on this statement that we have on our Ca

[2020-12-23 12:20] kyrylo commented on #1141
I can see that you use Skylight. To make the experiment clear, could you uninstall Skylight and run the tests again?

[2020-12-23 14:07] maldad commented on #1141
Sure, I can do it, I'll keep you posted.

[2020-12-27 06:06] tagesholly1 opened #1142 "why"

[2020-12-27 10:26] #1142 closed

[2021-01-04 22:26] maldad commented on #1141
Hi there @kyrylo, sorry for the late response, we went on vacation, but now we are back.

I uninstalled Skylight and now my tests that use Capybara run smoothly, could this be a problem with the Skylight config?

[2021-01-07 21:06] rvalladares77 commented on #1141
I am getting a similar problem "`SystemStackError: stack level too deep`" but in my case I use Solr for search and when I try to reindex a model  I get this:

[code]

This problem started when I upgraded airbrake (10.0.5) to airbrake (11.0.1)

[code]

[2021-01-07 22:00] benjaminrsharp opened #1143 "Upgrading gem for Ruby and resulted in a memory leak and increased GC time."
Hello, we attempting to upgrade the airbrake gem for ruby on two different version and it resulted in a memory leak  and increased GC time. What is the best way fro us to report this problem?

Support Help for Calendly - Ticket https://app.hubspot.com/contacts/7307809/ticket/278575947 admin https://airbrake.io/admin/accounts/52674:

[2021-01-08 10:35] kyrylo commented on #1141
This is a duplicate of https://github.com/airbrake/airbrake/issues/1089.

@rvalladares77 in your case `rack-mini-profiler` is the issue: https://github.com/MiniProfiler/rack-mini-profiler/issues/437

I would suggest to upgrade `skylight` and `rack-mini-profiler`.

[2021-01-08 10:35] #1141 closed

[2021-01-08 14:32] xantrac opened #1144 "Upgrading airbrake gem results in degradation of GC frequency"
In the past weeks, we have been attempting to update our airbrake gem from 
`gem 'airbrake', '9.0.2'`
to a newer version
`gem 'airbrake', '11.0.1'`

with the current configuration

[code]

Deploying the gem both in the production and staging environment resulted in performance degradation for our system in the form of:

- increased GC frequency
- consequent latency in generating the response from

[2021-01-08 17:16] scottsbaldwin commented on #1144
Thanks @xantrac, we'll take a look.

[2021-01-11 10:47] kyrylo commented on #1144
Thanks for the report. I have a couple questions:

* What tool do you use to measure the GC stats? Seems to be New Relic?
* `v9.0.2` was released on Apr 8, 2019. Is there any change you could test this on `v9.5.5`? `v9.5.5` is the last `v9` version
* Do you know the versions of the `airbrake-ruby` gem that were used during these tests?

Jumping from `v9.0.2` to `v11.0.1` is a big leap forward beca

[2021-01-11 22:17] xantrac commented on #1144
@kyrylo thank you for looking into this.

Correct

 I performed a test using `9.5.5` and yes I got an increased frequency in time spent in GC about the same increment of `11.0.1` between 1% and 2%.

We are no directly pinning any `airbrake-ruby` version, we are letting `airbrake` define its own dependencies:
- airbrake 11.0.1 -> airbrake-ruby 5.1.1
- airbrake 9.5.5 -> airbrake-ruby 4.15.0

All the

[2021-01-25 09:57] kyrylo commented on #1144
Thanks for the answers. Once quick question: what memory allocator do you use? Do you use jemalloc or TCmalloc?

[2021-01-27 20:06] xantrac commented on #1144
we are on Ruby 2.6.2 with the default memory allocator `gclib`

[2021-02-03 19:54] joshkestenberg opened #1145 "Sidekiq::RetryableJobsFilter not working"
* Airbrake version: 10.0.6
* Ruby version: 2.6.6
* Framework name & version: Rails 6.1.1
* Sidekiq version: 6.1.2

#### Airbrake config

[code]

#### Description

Airbrake is notified on every Sidekiq job failure rather than just after the last retry failure.

I attempted to debug locally, and found that in the `call` instance method on `RetryableJobsFilter`, `notice[:params][:job]` is `nil`, and

[2021-02-04 20:03] rajnish4unow opened #1146 "Airbrake performance not showing api path and query"
**Note**: I do see errors and jobs

**Setup**
Gem: airbrake (11.0.1) and airbrake-ruby (5.2.0)

File: config/initializers/airbrake.rb
Airbrake.configure do |config|
  config.project_id  = CONFIG[:PROJECT_ID]
  config.project_key = CONFIG[:PROJECT_KEY]
  config.performance_stats = true
  config.environment = CONFIG[:APP_ENV]
end

our rails route file is as below
Rails.application.routes.draw do
  m

[2021-02-09 19:34] kyrylo commented on #1144
I tried to use [Rack Mini Profiler](https://github.com/MiniProfiler/rack-mini-profiler) to inspect GC stats. I used the `?pp=profile-gc` query param against a Rails page that makes a ~10 SQL requests and ~200k allocations (according to Rails logs).

I tried 3 versions of the gem: current master, current master without performance stats and v9.5.5. I made ~1000 consequent requests to a single route

[2021-02-10 11:45] kyrylo commented on #1145
Hey there, @joshkestenberg! Sorry for the late reply.

This sounds like a duplicate issue. We've already fixed it in https://github.com/airbrake/airbrake/pull/1103 (it was reported in https://github.com/airbrake/airbrake/issues/1102). Make sure to update your notifier.

[2021-02-10 11:45] #1145 closed

[2021-02-10 13:06] kyrylo commented on #1146
Hey there! The issue stems from GrapeSwaggerRails, from what I can tell. I am not familiar with that gem but I can see that they ask you to set a `before_action`: https://github.com/ruby-grape/grape-swagger-rails#usage

Perhaps, tweaking it could resolve your issue. To find your route we use standard Rails APIs (recognize route): https://github.com/airbrake/airbrake/blob/6860375169f120e76cea6df159

[2021-02-17 18:37] #1144 closed

[2021-02-22 12:00] #1146 closed

[2021-04-09 23:51] kyoshidajp opened #1147 "Integer parameter value is displayed as String on Dashboard"
* Airbrake version: 11.0.1
* Ruby version: 2.6.7
* Framework name & version: Ruby on Rails 6.1.3.1

#### Airbrake config

(nothing special)

#### Description

Post request with Integer parameters like this.

[code]

The target action with controller is here.

[code]

Then, the error is shown as below.

<img width="456" alt="airbrake_parameters" src="https://user-images.githubusercontent.com/331719

[2021-04-16 18:31] kyrylo commented on #1147
Thanks for reporting, @kyoshidajp. I was able to reproduce this issue. During my investigation I found out that this problem is not specific to the airbrake gem or airbrake-ruby. It appears to be an issue with our backend.

I will open an internal ticket to resolve this problem.

[2021-04-16 18:31] #1147 closed

[2021-04-23 17:19] kyrylo commented on #1147
@kyoshidajp this was fixed, your new errors should be displayed correctly

[2021-04-23 23:00] kyoshidajp commented on #1147
@kyrylo I have confirmed that this has been fixed. Thanks.

<img width="341" alt="airbrake-fixed" src="https://user-images.githubusercontent.com/3317191/115937458-0bebf580-a4d3-11eb-9f91-484d423c74c1.png">

[2021-05-04 02:44] nateleavitt opened #1160 "undefined method `first_name' for class `#<Class:0x0000562750fb1b48>' Did you mean? sti_name"
Ruby 2.7.3
Rails 5.2.5
[code]

I keep receiving the following error and not sure what the problem is:

Error message:

`undefined method 'first_name' for class '#<Class:0x0000562750fb1b48>' Did you mean? sti_name`

Extracted source (around line #62):
[code]

Stack trace:

[code]

[2021-05-04 06:34] nateleavitt commented on #1160
I think this may be a Rails upgrade problem. Closing for now.

[2021-05-04 06:34] #1160 closed

[2021-05-11 22:40] gsar opened #1161 "missing prepend instrumentation leads to `stack level too deep` error"
it appears that airbrake is using the prepend strategy for instrumentation for most things, however there is [this spot](https://github.com/airbrake/airbrake/blob/dfbd162a6f9f6bdeee7eeb5e7d1449d1770091fb/lib/airbrake/rails/http.rb#L10) that is still using alias method chaining.

this leads to the error when using other gems that use prepend instrumentation such as newrelic. i'm working around the

[2021-05-12 15:26] #1161 closed

[2021-05-12 20:52] gsar commented on #1161
@kyrylo thanks for the quick resolution! i noticed that these other locations also exist that may need consideration. there are existing [issues](https://github.com/newrelic/newrelic-ruby-agent/issues/656#issuecomment-828630320) in the newrelic repo that are affected by the `resque` conflict. @angelatan2 might be able to provide insight on the others.

![image](https://user-images.githubuserconten

[2021-05-13 18:00] kyrylo commented on #1161
Thanks for pointing that out. Should be fixed in v11.0.3+

[2021-05-25 16:08] MathieuDerelle opened #1169 "missing break change about `blacklist_keys` => `blocklist_keys` in CHANGELOG"
I've just upgraded from v7.0.0 to v11.0.3

and got an error

I usually check all breaking changes when upgrading gems but it was not mentionned

[2021-05-28 09:05] alisnic opened #1170 "Airbrake v11 and v10 filtering mutate sidekiq job params on retry"
Hi,

<img width="1459" alt="Screenshot 2021-05-28 at 11 07 20" src="https://user-images.githubusercontent.com/1770351/119958338-a1374980-bfab-11eb-8d17-8b5819f25115.png">

Looking at screenshot, `token_type` param was changed to `[Filtered]`, even though originally it had a different value. I was able to reproduce the bug Airbrake v11.0.3, v10.0.5. Airbrake v9.5.5 is not affected.

Sidekiq v4.2.10

[2021-05-28 09:30] MathieuDerelle commented on #1169
hmmm, it was included in
https://github.com/airbrake/airbrake/blob/master/CHANGELOG.md#v1100-august-17-2020

Btw this PR number #1068 is incorrect

[2021-05-28 15:07] kyrylo commented on #1170
Shouldn't it be filtered by default? I can see you specify allowlist keys and `token_type` is not there. Therefore everything but the value in the list will be filtered.

[2021-05-31 08:20] kyrylo commented on #1170
I see. Yeah, that doesn't look right.

[2021-06-05 12:21] gsaks123 opened #1171 "SystemStackError in 11.0.3 release"
Updating to 11.0.3 is resulting in Resque job failures. 11.0.2 works fine, and while there are a few different commits as part of 11.0.3, I would assume it's [this one](https://github.com/airbrake/airbrake/pull/1166/commits/3fb3fdadf6c129c0104fd2ffd46266a5c6454e91) where something is going wrong.

All the errors are happening when Resque workers are picking up and running jobs. The exception seems

[2021-06-05 12:26] gsaks123 commented on #1171
I just saw this closed issue which it appears led to the commits in 11.0.3:
https://github.com/airbrake/airbrake/issues/1161

In that issue it looks like they had upgraded to 7.x of the New Relic gem, but I'm still on 6.x. So perhaps whatever was done to work with 7 is a problem in 6.

[2021-06-07 12:44] kyrylo commented on #1171
I'm not following the New Relic development but I would guess that an upgrade will fix the issue. The exception occurs in New Relic, from what I understand.

You can try to reorder gems and see if it fixes the issue for you if you don't want to upgrade to New Relic 7 yet.

[2021-06-07 12:44] #1171 closed

[2021-06-10 10:37] iamdriz opened #1173 "Filter keys in session"
In our Rails application we store some data in our session that we don't want to be visible in the error logs.

This data is stored in the session because our app is API-only (no database) and we want the data to disappear as soon as the session expires. The data is secure in the session due to it being encrypted etc.. but if an error happens we don't want these to be visible in the session data t

[2021-06-11 13:52] kyrylo commented on #1173
It should cover session as well:

https://github.com/airbrake/airbrake-ruby/blob/7800c7d3b30475b419d5ebe1cb46a2920741c560/lib/airbrake-ruby/filters/keys_filter.rb#L21-L23

[2021-06-11 13:52] #1173 closed

[2021-06-15 22:29] nbdavies commented on #1170
What's the `airbrake-ruby` version involved?

This sounds similar: https://github.com/airbrake/airbrake-ruby/issues/592
That was fixed in `airbrake-ruby` 5.0.0. On `airbrake` version 11.0.0, `airbrake-ruby` should be on 5.0.x. If the problem was still occurring on `airbrake` 11, maybe the sidekiq processes needed to be restarted? Otherwise, maybe there isn't a connection after all.

[2021-06-16 10:51] kyrylo commented on #1170
Good point @nbdavies.
Would love to know the airbrake-ruby version that you used, @alisnic.

[2021-06-16 13:51] alisnic commented on #1170
We used airbrake-ruby v5.2.0

[2021-06-22 15:27] kyrylo commented on #1170
@alisnic I am not able to identify the root cause of this bug by inspecting the codebase. Since you mentioned you can provide a test repository that demonstrates this bug, would you be so kind to provide one please?

[2021-06-22 15:29] alisnic commented on #1170
Yes of course! Though that will happen in 1-2 weeks as currently I’m a bit
overloaded. Would also be happy to contribute with fix if you will guide me
a bit

On Tue, 22 Jun 2021 at 18:27, Kyrylo Silin ***@***.***> wrote:

--
Lisnic Andrei
mob: +373 691 10725

[2021-06-22 15:31] kyrylo commented on #1170
No problem, just take your time.

[2021-06-28 14:45] owen2345 commented on #1161
The problem persists in `airbrake-11.0.3` with `newrelic_rpm-7.1.0`

[2021-06-28 15:02] gsar commented on #1161
@owen2345 i have the same versions as you mentioned and don't see any problems. check your `newrelic.yml` or other config to see if you are forcing method chaining in the newrelic config for some of the methods. it was needed to avoid the issue in older versions and people seem to forget to remove the overrides when they upgrade. the forced config will be in an `instrumentation` block and look lik

[2021-07-07 09:01] alisnic commented on #1170
So my efforts of making a repro did not yield any results. What I tried is to add the gems to a vanilla app. I'm thinking that maybe part of our app setup is influencing the problem. What I will try instead is to start from our app and just remove stuff from it until I get a minimal repro. Will need more time for this

[2021-07-07 10:46] kyrylo commented on #1170
Sounds good, waiting on results :)

[2021-07-09 19:53] bcaplan commented on #1104
I've been following this issue since we ran into the same problem. New Relic just released version 7.2.0 which seems to address this incompatibility:

https://github.com/newrelic/newrelic-ruby-agent/blob/583dbe842162f632274d03cee455ff5c1d440e48/CHANGELOG.md#v720

[2021-07-13 03:56] Reinkaos opened #1174 "Airbrake v11 incompatible with elastic APM gem."
* Airbrake version: 11.0.3
* Ruby version: 2.7.2
* Framework name & version: Rails 6.1.3.2

#### Description

Add elastic APM and airbrake into your Gemfile

gem 'elastic-apm', '= 3.15.1' # note that v4 of elastic APM doesn't work with airbrake.
gem 'airbrake'

bundle and then attempt to precompile:

You will get a stack level too deep like this:

[code]

Using version 10.0.6 this issue does not o

[2021-07-13 10:55] kyrylo commented on #1174
Sorry, I am a little confused. Does Elastic APM v4 not work but v3 does or is it vice versa?
I can see in v4 they had a fix for the issue you described: https://github.com/elastic/apm-agent-ruby/commit/636319cdcdfe517757e397ba053b63cdb9ebb600

Since v11.0.3 the airbrake gem should also ship with Rake integration fixed.
I would try to reorder the gems in your Gemfile (put `airbrake` above `elastic-

[2021-07-14 02:16] Reinkaos commented on #1174
Hey thanks for getting back to me,

Yes it appears that v4 doesn't work, it results in a stack level too deep when posting data to elastic APM when Airbrake is installed as well. To fix this issue elastic APM suggest having the elastic apm gem first in the Gemfile.

I have tried switching the gems around in the Gemfile but had issues either on precompile or on actually running the apps and getting

[2021-07-14 17:20] kyrylo commented on #1174
When you have the following in your Gemfile:

[code]

What error do you see?

Alternatively, when you have this, what's the error?

[code]

[2021-07-14 21:41] Reinkaos commented on #1174
[code]

`bundle exec rails assets:precompile`

Process hangs and then returns this after you manage to exit it

[code]

[code]

This way the precompile works but when running the application I get this error in the logs:

[code]

Which goes away if I remove Airbrake from the Gemfile.

Hope that helps!

[2021-07-30 07:02] FGoessler commented on #1145
For anyone running into similar issues: If you use Sidekiq through Rails ActiveJob adding this filter alone won't be sufficient.

I added this `Sidekiq::RetryableJobsFilter` but still got Airbrakes for failures prior to retry exhaustion. As it turned out the Airbrake ActiveJob integration is also sending Airbrakes. So if you use Sidekiq through ActiveJob you will actually receive two airbrakes per

[2021-08-02 02:30] kyrylo commented on #1145
That sounds like a valid issue to me. Would you mind filing a report, @FGoessler?

[2021-08-16 18:07] nathansamson opened #1175 "Ability to limit APM queries"
Is there a way to limit the APM queries to the server (eg so I won't hit my quota so soon)

I want to do 2 things

* Exclude some requests: eg everything where the User-Agent is a bot (I believe my app gets more hits from bing/yandex/etc... than from real users)
* Only send X% of the data (randomly, so randomly ignore100-X% of the requests). My data will not be as valuable, but I will have a prett

[2021-08-17 17:50] neohunter opened #1176 "Add filter causing memory to increase"
We wanted to add some information to alll error notification, which, I think, is a fairy common usage

According to the documentation here: https://github.com/airbrake/airbrake#rake we add a filter con en ApplicationController that was triggered on the before_action filter of rails:

[code]

This causes production servers to increase memory consumption forever until the container finally crashes,

[2021-08-18 07:48] kyrylo commented on #1170
Gentle ping @alisnic

[2021-08-18 08:03] alisnic commented on #1170
Hi, sorry. I guess I'll close the issue since I was unable to reproduce, and unable to allocate more time on this at the same time. Will reopen in the future if I will have more details

[2021-08-18 08:03] #1170 closed

[2021-08-19 07:06] kyrylo commented on #1174
You mentioned that in 10.0.6 the issue doesn't occur but according to your last message you can still see it with this combination:

[code]

What combination of gems is completely bug free?

[2021-08-19 08:17] kyrylo commented on #1175
You can use the `add_filter` API: https://github.com/airbrake/airbrake-ruby#airbrakeadd_filter

They allow you to implement both your items.

[2021-08-19 08:34] nathansamson commented on #1175
Hi

that is for errors only I think. I want all errors logged. It is for APM requests I want to only send a good subset

[2021-08-25 07:41] kyrylo commented on #1176
Thanks for the report. How do you measure memory consumption?

If you call `nourish_airbrake` multiple times, it'll continue adding that filter on each call. That might be the reason why you see memory bloat (you add an infinite number of filters). Filters should be added in your initializers.

[2021-09-19 19:52] equivalent opened #1177 "airbrake gem don't work with 7.0.0.alpha2 release"
I'm trying out Rails 7.0.0.alpha2 on Heroku with fresh Rails project. All works well so I've decided to install Airbrake to capture any future errors. As soon as I've installed Airbrake gem prod environment start to crush once deployed to Heroku with:

[code]

AB config:

[code]

As soon as I remove the Airbrake gem (and the config) all works good again

* Rails version: 7.0.0.alpha2
* ruby 3.0.2p

[2021-09-20 07:19] #1176 closed

[2021-09-20 07:20] kyrylo commented on #1175
In a similar fashion, we provide `Airbrake.add_performance_filter`: https://github.com/airbrake/airbrake-ruby#airbrakeadd_performance_filter

[2021-09-20 07:20] #1175 closed

[2021-09-20 07:21] #1174 closed

[2021-09-22 12:49] kyrylo commented on #1177
Thanks for the report. This is currently blocked by https://github.com/collectiveidea/delayed_job_active_record/issues/196 (our test dependency).

[2021-09-23 14:23] Cervenka commented on #1174
I am having the same issue in combination with elastic-apm 3.15.1

airbrake 10.0.1 works fine
airbrake 10.0.3 causes a ton of SystemStackError:  stack level too deep
airbrake 11.0 also causes a ton of those

The order of the entries in the gemfile is irrelevant. This is the case in both development and production.

@kyrylo - this is a duplicate? I was not able to find the duplicate that was solved

[2021-09-23 15:01] kyrylo commented on #1174
Hey, @Cervenka. It's a duplicate of https://github.com/airbrake/airbrake/issues/1080.

You need to upgrade your elastic gem to v4+.

[2021-09-23 16:02] Cervenka commented on #1174
Thank you for pointing that out. After upgrading both airbrake and elastic apm the issues are resolved.

This combination works
[code]

[2021-10-25 10:37] leoarnold opened #1200 "How to add exception specific context?"
Suppose I have a custom exception class. Is there any way to extend the Airbrake context like this:

[code]

[2021-10-25 18:32] #1200 closed, assigned to nobody

[2021-11-22 19:41] nicolas-damiani opened #1203 "Airbrake: HTTP error: SSL_connect returned=1 errno=0 state=SSLv3 read server certificate B: certificate verify failed"
Hi!

From one day to the other, I stopped receiving error notifications on my Airbrake panel.

After some hours of debugging I found out the error was caused by an SSL certification error.

`{"error"=>"**Airbrake: HTTP error: SSL_connect returned=1 errno=0 state=SSLv3 read server certificate B: certificate verify failed"}`

Airbrake gem version 11.0.3
Ruby version 2.3.0

My SSL certificate is alri

[2021-11-22 21:21] Glis commented on #1203
Hello. It's also happening in our environments. We tested it like this:
[code]
We tested it on multiple projects with different versions, and all fail equally.
It might be the same problem as of this [old issue](https://github.com/airbrake/airbrake/issues/1095)

[2021-11-22 23:32] tswetonic commented on #1203
Thanks for opening this. We're seeing the same problem.

[2021-11-23 12:20] #1203 closed

[2021-11-24 12:19] kyrylo commented on #1203
This should be resolved now. Thanks for posting the issue.

[2021-12-15 00:46] joemsak commented on #1177
Does this update help at all? https://github.com/collectiveidea/delayed_job_active_record/issues/196#issuecomment-990417674

[2021-12-20 17:41] ruby-dev commented on #1177
I ran into this issue as well when moving a rails 6 app over to rails 7. I was able to get around it for the time being by setting `config.eager_load = false` in the production.rb . Not ideal but does stop the error.

[2021-12-21 02:33] kurenn opened #1205 "InstrumentationSubscriberError"
While trying to upgrade to Rails 7, I'm encountering and error with my test suite. My current setup is:

- Rails `7.0.0`
- Capybara `3.35`
- Cuprite `~> 0.13`

And when I run my system tests I get this output:

[code]

Why I'm looking at, is:

`#   undefined method `getutc' for 1640053493229.386:Float`

Due to the rails change(or at least I can infer that), now instead of a `Time` object is now se

[2021-12-21 11:56] hobbypunk90 commented on #1205
I have the same error on a plain rails 7 application.
The moment i add airbrake to the gemfile, it's not working anymore:
`
ActiveSupport::Notifications::InstrumentationSubscriberError (Exception(s) occurred within instrumentation subscribers: NoMethodError, NoMethodError):

activesupport (7.0.0) lib/active_support/notifications/fanout.rb:101:in `iterate_guarding_exceptions'
activesupport (7.0.0)

[2021-12-21 13:14] jlestavel commented on #1205
Same error here. Here is a minimal script to reproduce :

[code]
And here is the output of the test :

[code]
If you change the Rails version to `"~> 6.0"` it works well. If you remove the `airbrake` gem, it works too.

[2021-12-21 15:28] tnir commented on #1205
Had the same error in my app with Rails 7.0.0 and airbrake 12.0.0 / airbrake-ruby 6.0.1. Just prepared a patch in airbrake/airbrake-ruby#673.

[2021-12-21 15:40] kurenn commented on #1205
Thanks for the patch! I'll test it and come back to you

[2021-12-21 16:02] kurenn commented on #1205
I can confirm that it is working for me

[2021-12-21 18:10] kurenn commented on #1177
This is happening to me as well with:

* Rails `7.0.0`
* Airbrake `12.0.0`
* Airbrake-ruby `6.0.1` with patch:
[code]

[2021-12-22 03:22] culov commented on #1177
I'm also experiencing this with:

Rails 7.0.0
Ruby 3.0.x
Airbrake 12.0.0

It's preventing me from upgrading to Rails 7. Can we expect a fix sometime soon?

[2021-12-22 13:39] jlestavel commented on #1177
Same error here. Here is a minimal script to reproduce the error:

[code]
And the output :

[code]

[2021-12-26 11:21] tnir commented on #1177
@jlestavel Thanks for clarifying the problem. Just prepared a workaround in #1206, which allows us to make the following testcase to pass:

[code]

[2022-01-10 14:34] kyrylo commented on #1205
Thanks everyone for chiming in. I just released airbrake-ruby v6.0.2, which should fix this issue. Please `bundle update airbrake-ruby` and you should be good to go.

[2022-01-10 14:34] #1205 closed

[2022-01-17 20:49] raosev opened #1212 "airbrake issues with lack of details"
Good day team!

We're having an odd issue with our Airbrake dashboard and sadly we have not been able to diagnose it :-(.

Here's the thing, issues being reported in our production environment... are showing clearly less details compared to the issues we generate in our local/development environment, makeing our debugging work much more complicated. Please note, this is not always happening, but i

[2022-01-17 20:57] raosev commented on #1212
apologies, moving issue to airbrake-ruby repo

[2022-01-17 20:57] #1212 closed

[2022-01-18 09:45] #1177 closed

[2022-01-20 13:21] tnir commented on #1177
airbrake 13.0.0 with #1211 works to me with Rails 7.0.1 in my app 🎉

[2022-03-29 13:36] nthatcher-airbrake opened #1215 "Airbrake does not track DB queries with MongoDB"
@thompiler
Customer-
From what I remember, I’ve never seen queries displayed in APM for my app routes. Looks like queries are just being categorized as “other”
could this have anything to do with us using mongo (and the mongoid gem)?

Looks like they are not seeing any Queries for any of the Routes. This applies to all performance routes.
He mentioned that they are using MongoDB, which may have an

[2022-03-29 13:37] nthatcher-airbrake commented on #1215
Slack message reference: https://logicmonitor.slack.com/archives/C01RX4XH9DY/p1648075835443179

[2022-03-30 07:16] kyrylo commented on #1215
Yes, we don't support MongoDB. We rely on Rails to provide us with a query body, and apparently it doesn't support MongoDB query bodies.

[2022-03-30 07:16] #1215 closed

[2022-03-31 06:19] LemonTree-shine opened #1216 "Some people can get the alarm email, some people can't"

[2022-03-31 06:25] #1216 closed

[2022-03-31 06:26] LemonTree-shine commented on #1216
没问题

[2022-05-03 17:31] nthatcher-airbrake opened #1221 "APM only showing root paths"
Hi, Why does the performance monitoring tab of one project only show root paths? (like "GET /", "POST /").

The Routes are only showing Route Paths

[2022-05-03 17:33] kyrylo commented on #1221
Do you use Rails engines?

[2022-05-10 16:33] #1221 closed

[2022-05-10 17:04] mzagaja opened #1222 "Airbrake Gem Attempts to Connect to Database in Databaseless App in Rails 6"
I am currently in the process of updating one of our applications to Rails 6 and in doing so have discovered that the AirBrake gem is somehow requiring ActiveRecord to try and connect to a database, even though this application does not use ActiveRecord to do that. This behavior does not exist in Rails 5.2. I am on version 13 of the gem. I only observe this in staging and production environments w

[2022-05-12 12:13] kyrylo commented on #1222
Hi, @mzagaja!

[When Active Record is detected](https://github.com/airbrake/airbrake/blob/827a760e20ee40e56763b6661bdabe320d221df9/lib/airbrake/rails/railtie.rb#L101), we hook into it and define our custom code. The Airbrake gem doesn't try to require Active Record anywhere. How come you have Active Record defined if you don't use it anywhere?

Perhaps you can see this error on Rails 6 because som

[2022-05-12 18:26] mzagaja commented on #1222
Thanks so much for working on this. I don't specifically attempt to load ActiveRecord in my app (I've pulled it out as deep as I can go) but think one of the gems might try to do this. It's a bit odd that it needs/uses it without a configuration.

[code]

I found the following solution seems to work:

[code]

This fix also seems to work on Ruby 2.6.9 and Rails 5.2.7. Let me know if this makes sens

[2022-05-13 09:27] kyrylo commented on #1222
Thanks for digging into this issue and helping me debug it. This information is enough to move forward. When you wake up, the new version of the gem with this fix has already been released.

[2022-05-13 09:44] #1222 closed

[2022-05-13 15:55] mzagaja commented on #1222
Thanks so much!! I will fully confirm on our deployment Monday but testing locally the fix is looking good here.

[2022-05-19 16:18] apanzerj opened #1228 "Airbrake 500 Errors"
Our app (right now) is basically idle. It's getting tickled by a status/liveness check at `api/health` but that's it.

Despite this fact, we see this error showing up:

[code]

In the context of the log line:

[code]

At the same time, we have eliminated this path from the Performance Monitor:

[code]

At the time we first ran into this we guessed that the performance stuff was choking for some re

[2022-05-20 14:42] #1228 closed

[2022-05-20 15:00] kyrylo commented on #1228
@apanzerj I just released v13.0.2 with the fix. Please update airbrake in your app. Thanks for reporting!

[2022-05-20 15:50] apanzerj commented on #1228
on it! Thanks for the awesome turnaround!

[2022-05-20 16:04] apanzerj commented on #1228
![image](https://user-images.githubusercontent.com/1709515/169567792-1a091a85-7c77-49cc-a983-5edc168a10a3.png)

Donated! Stay Safe!

[2022-05-20 16:15] apanzerj commented on #1228
Crap. It's back.

[2022-05-20 16:25] apanzerj commented on #1228
Okay. Nevermind. It's all good. Sorry!

[2022-05-25 15:37] apanzerj commented on #1228
@kyrylo I'm sorry to bug ya but it happened again today. It's definitely happening with drastically less frequency.

[code]

[2022-05-25 15:58] kyrylo commented on #1228
What's in `log/airbrake.log`?

[2022-05-26 00:03] apanzerj commented on #1228
Hmm. Shoot.

I'll need to wait for it to happen again.

[2022-06-09 12:53] kos1kov opened #1230 "Airbrake and ruby 3.1 versions, change display of ErrorHighlight errors"
Hello, is there any way to change the error display.
i.e. use a different format for text output

<img width="1109" alt="Screenshot 2022-06-09 at 15 50 27" src="https://user-images.githubusercontent.com/35836663/172851168-85ad6da3-0243-4c08-9ec6-8e661ee0f403.png">
i want to see something like that
<img width="1087" alt="Screenshot 2022-06-09 at 15 52 36" src="https://user-images.githubusercontent.

[2022-06-09 13:08] kyrylo commented on #1230
Hey there. No, it's not currently possible. Just to clarify, do you want to see the raw string with visible `\n` characters?

By the way, this issue tracker is for our Ruby library. Therefore, I am closing this issue. For general questions, please, contact support@airbrake.io

[2022-06-09 13:08] #1230 closed

[2022-06-15 13:03] kyrylo commented on #1230
Hi again @kos1kov. I released airbrake-ruby v6.1.1. It strips out the error highlighting part of the error message. The raw error message with highlighting can be found at `context/error_message`.

[2022-06-15 13:05] kos1kov commented on #1230
thanks so much @kyrylo

[2022-06-24 11:47] abhishekpargal12 opened #1231 "Setup Airbrake for your Ruby application"
# Installing with the CLI

The Airbrake CLI installs the Airbrake Ruby notifier automatically in your Ruby project. To install the gem directly without using the CLI, please scroll down to the **Installing manually** section.

### Install the CLI via Homebrew

[code]

### Authenticate via `config` command

Authenticate by setting your `user-key` with the `config` command:

[code]
<small>You can fi

[2022-06-24 12:15] #1231 closed

[2022-07-25 12:13] K-S-A opened #1233 "ArgumentError: invalid byte sequence in UTF-8 when reporting"
Here is the reproduction script and test cases with the quick fix:

[code]

[2022-07-25 14:51] kyrylo commented on #1233
What is your Ruby version?

[2022-08-11 17:33] apanzerj commented on #1228
@kyrylo The issue is back. It's been creeping back for a while. Airbrake log just has:

[code]

[2022-08-11 17:34] apanzerj commented on #1228
The gem is at the newest version.

[2022-08-15 08:10] kyrylo commented on #1228
I don't think this is related to the gem itself. It must be something with our infra. We're investigating.

[2022-08-15 08:45] kyrylo commented on #1228
Do you still see this error? How regular is it? Is there a pattern?

[2022-08-15 17:57] apanzerj commented on #1228
So this is all the information I have:

[code]

I can get more details in a bit.

[2022-08-15 18:01] apanzerj commented on #1228
Hmm. In our staging environment it seems to have stopped but it's still happening in production. It also appears to only happen in our Sidekiq worker instances but I can't be 100 percent sure on that.

[2022-08-16 07:45] kyrylo commented on #1228
Could you send me your project id? kyrylo@airbrake.io

[2022-08-19 16:21] yangsu-ab commented on #1228
@kyrylo , is this ticket resolved? we are also seeing lots of (intermittently?) 500 response from airbrake sdk.

  <head>
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible"...
starting aug 7th.
we are on airbrake 9.3 unfortunately. we then since tried to update to 11.03 which was the latest version of airbrake that supports ruby 2.4. which did not work either. is there going to be

[2022-08-22 09:40] kyrylo commented on #1228
@yangsu-ab not resolved yet. The issue to track is this one https://github.com/airbrake/airbrake-ruby/issues/696
However, it's not related to our Ruby notifier.

[2022-10-07 15:56] dgsangoma opened #1239 "Premature notification in Airbrake::Sidekiq::RetryableJobsFilter"
We've set a global Sidekiq default of 5 for `max_retries`, but overridden that in the code for particular jobs to be higher like in the `ProgressWorker` job referenced below that has been increased via the option `sidekiq_options retry: 60`. In the example Parameters section below from an example Airbrake, you can see the following values that I think indicates the Airbrake notification shouldn't

[2022-10-13 08:33] kyrylo commented on #1239
We read `max_retries` from Sidekiq class directly. If that's not configured, we use `Sidekiq::JobRetry::DEFAULT_MAX_RETRY_ATTEMPTS`:

https://github.com/airbrake/airbrake/blob/6ca4b6023d56dba214b55f649743b41fa4934edf/lib/airbrake/sidekiq/retryable_jobs_filter.rb#L49

It's quite possible that we don't take into account `sidekiq_options retry: 60`.

[2022-10-31 12:07] kyrylo commented on #1239
I couldn't confirm this. In your sample params, I can see the correct `retry` value (`"retry": 60,`). After reading the code and testing, I can see that we do respect the per-job retry option.

https://github.com/airbrake/airbrake/blob/6ca4b6023d56dba214b55f649743b41fa4934edf/lib/airbrake/sidekiq/retryable_jobs_filter.rb#L41-L42

I used the following code to test:

[code]

Could you please provide

[2022-11-02 12:49] dgsangoma commented on #1239
I'll work on putting together a minimal setup that is able to reproduce the issue.

[2022-11-29 13:34] kyrylo commented on #1239
Gentle ping @dgsangoma.

[2022-11-29 15:21] dgsangoma commented on #1239
I've made a small test app to try to reproduce the issue, but am struggling to reliably reproduce the issue in the test app.

[2022-11-30 09:25] kyrylo commented on #1239
Thanks! Could share the app and the instructions on how to run it? I can clone it and run it multiple times to see how it fails.

[2022-11-30 21:43] Nandez89 opened #1240 "Airbrake 13 SystemStackError:stack level too deep"
After upgrading from airbrake `10` to `13` our application starts throwing `SystemStackError:stack level too deep` errors.
(Update) narrowed down to `10` to `11` upgrade

I checked all previous issues and the solutions... but they all deflect into to updating other gems instead (https://github.com/airbrake/airbrake/issues/395, https://github.com/airbrake/airbrake/issues/1080, https://github.com/ai